<footer>
  <p>&copy; 2026 Paula Palmer. All rights reserved.</p>
</footer>

<style>
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    font-weight: 300;
  }
</style>